* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: #355070;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 0;
    padding: 0 20px;
}

.slider-wrapper {
    overflow: hidden;
    margin: 0 auto;
    max-width: 700px;
    height: 700px;
    border: 5px solid #E56B6F;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: all 0.3s;
}

.slide img {
    width: 100%;
    height: 100%;
}

.controls {
    display: flex;
    margin: 0 auto;
    max-width: 700px;
}

.control-btn {
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    border: 3px solid #E56B6F;
    background-color: #E56B6F;
    border-radius: 50%;
    margin: 10px;
}

.slider-wrapper input {
    display: none;
}

#radio-btn-1:checked ~ .slides .active-slide {
    margin-left: 0;
}

#radio-btn-2:checked ~ .slides .active-slide {
    margin-left: -20%;
}

#radio-btn-3:checked ~ .slides .active-slide {
    margin-left: -40%;
}

#radio-btn-4:checked ~ .slides .active-slide {
    margin-left: -60%;
}

#radio-btn-5:checked ~ .slides .active-slide {
    margin-left: -80%;
}